* {
    font-family: Arial, sans-serif;
    margin: 0;
    --dark: #426899;
    --light: #b5bcef;
    /* --light : #B2F7F5; */
    /*8dd5f2
    B2F7F5
    B3FCB4
    6AC7FC
    CFFCB3
    C59AED
    */
}

@property --rotate {
    syntax: "<angle>";
    initial-value: 80deg;
    inherits: false;
}

@keyframes rotateAnimation{
    from{
        --rotate: 0deg;
    }to{
        --rotate: -360deg;
    }
}

body {
    /* background-color: rgb(194, 224, 250); */
}

nav {
    position: sticky;
    top: 0px;
    z-index: 1;
    background-color: #2B3035;
    font-size: large;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    padding: 0.8%;
}

nav a img {
    height: 7vh;
    margin: 0%;
    padding: 0;
    mix-blend-mode: lighten;
}

nav .links ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 40px;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

nav .links ul li {
    margin: 0;
    padding: 0;
}

nav .links ul li a {
    text-decoration: none;
    color: white;
}

nav .links ul li a:hover {
    text-decoration: underline;
    color: white;
    font-weight: 500;
}

nav .user ul li a .lbtn {
    background-color: #0B5ED7;
    width: 50px;
    height: 30px;
    border-radius: 10px;
    text-align: center;
}


header .nav .nav-link {
    color: black;
}


.heading {
    color: #333;
    text-align: center;
    text-decoration: underline;
    padding: 30px;
    font-size: 5vw;
    font-weight: 800;
    animation: textAnimation 2s forwards;
}

@keyframes textAnimation {
    from {
        transform: translateY(20px);
        /* Initial position of the text */
        opacity: 0;
        /* Initial opacity */
    }

    to {
        transform: translateY(0px);
        /* Final position of the text */
        opacity: 1;
        /* Final opacity */
    }
}

.main{
    background-image: conic-gradient(
        from var(--rotate), var(--dark), var(--light) 60%
    );
}

.intro {
    margin: 20px;
    margin-bottom: 0px;
    font-weight: 520;
    padding: 15px;
}

.intro .last {
    font-size: 3vw;
}

.card {
    width: 100%;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background: rgba(204, 204, 204, 0);
    animation: fadeInUp 0.5s ease forwards;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}

h3 {
    margin: 20px;
}

.roadmap {
    padding: 20px;
    margin: 20px;
    border-radius: 15px;
    background-color: #2B3035;
}

.roadmap header .nav button {
    background-color: #2B3035;
    color: white;
}

.roadmap .accordion-item {
    background-color: white;
}

.roadmap button {
    background-color: #F1CEB6;
}

footer {
    background-color: #2B3035;
    padding: 50px;
    text-align: left;
    color: white;
}

footer .About_us h4 {
    font-size: x-large;
}