*{
    margin: 0;
    --dark: #19283B;
    --light: #B8B9C1;
}
.ratings {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.stars {
    color: gold; /* Change color as desired */
}

@property --rotate {
    syntax: "<angle>";
    initial-value: 70deg;
    inherits: false;
}

@keyframes rotateAnimation{
    from{
        --rotate: 0deg;
    }to{
        --rotate: -360deg;
    }
}

nav{
    position: sticky;
    top : 0px;
    z-index: 1;
    background-color: #2B3035;
    font-size: x-large;
    font-weight:400;
    /* display: flex;
    justify-content: space-between; */
    padding: 0.8%;
}

nav div a img{
    height: 7vh;
    margin: 0%;
    padding: 0;
    mix-blend-mode:lighten;
}
nav div a{
    margin: 0;
    padding: 0;
}

nav div .links ul{
    /* display: flex;
    list-style-type: none;
    align-items: center;*/
    gap : 40px;
    height: 100%;
    padding : 0px;
    margin: 0px;
}

nav div .links ul li a{
    text-decoration: none;
    /* color: white; */
    color: white;
}

nav div .links ul li a:hover{
    text-decoration: underline white;
    color: white;
    font-weight: 500;
}

main .info{
    height:70vh;
    font-size: xx-large;
    font-weight: 800;
    padding-top: 25vh;
    padding-bottom: 25vh;
    padding-left: 15vw;
    background-image: url(../Pics/Home-large.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
}

main .info .sub{
    font-size: x-large;
    font-weight: 600;
}

.section{
    background-image: conic-gradient(
        from var(--rotate), var(--dark), var(--light) 60%
    );
    /* background-image: url("../Pics/login4.jpg"); */
}

.skills{
    font-size: x-large;
    font-weight: 600;
    padding-left: 10vw;
    padding-top: 5vh;
    padding-bottom: 5vh;
    text-decoration: underline;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.card {
    width: 300px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    text-align: center;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card h2 {
    color: #333;
}

.card p {
    color: #666;
}

.card img {
    max-width: 100%;
    margin-bottom: 10px;
    height: 200px;
}

.card a {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.card a:hover {
    background-color: #0056b3;
}

.info{
    gap: 20px;
}

.info .card h2{
    text-align: right;
    font-weight: 900;
    padding: 10px;
}

.info .card .first{
    font-size: large;
    font-weight: 700;
}

#toTop{
    position: fixed;
    bottom: 20px;
    right: 10px;
    width: 50px;
    height: 50px;
    background-image: url(img/totop.png);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(0, 119, 255);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 10px 0 #0a60c9;
    transition: transform 0.3s, box-shadow 0.3s ;
}
#toTop:active{
    transform: translateY(10px);
    box-shadow: none;
}

footer{
    background-color: #2B3035;
    padding: 50px;
    text-align:left;
    color: white;
}
 
 footer .About_us h4{
    font-size: x-large;
 }