*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --dark: #19283B;
    --light: #B8B9C1;
    overflow-x: hidden;
}

@property --rotate {
    syntax: "<angle>";
    initial-value: 70deg;
    inherits: false;
}

@keyframes rotateAnimation{
    from{
        --rotate: 0deg;
    }to{
        --rotate: -360deg;
    }
}

body{
    /* display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh; */
    background:#EFF1F3 ; 
    /* background-image: conic-gradient(
        from var(--rotate), var(--dark), var(--light) 60%
    ); */
    /* background-image: url(Login4.jpg);
    background-blend-mode: difference;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
}

.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10vw;
}

.main img{
    mix-blend-mode: multiply;
    width: 35vw;
}

p{
    display: block;
}

header{
    width: 100%;
    background-color: #2B3035;
    color: white;
    /* border: 3px solid bisque; */
    display: grid;
    grid-template-columns: [l]1fr [s]2fr [h]1fr;
    align-items: center;
    padding: 0.8%;
}

hr{
    height: 3px;
    background-color: #0B5ED7;
    width: 100%;
    border: 0px;
}

header .logo{
    grid-area: l;
}

header .logo img{
    height: 5vh;
    margin: 0%;
    padding: 0;
    mix-blend-mode:lighten;
}

header .home{
    grid-area: h;
    justify-self: end;
}

header .home a{
    text-decoration: none;
    color: white;
    font-size:larger;
}

header .home a:hover{
    text-decoration: underline;
}

.wrapper{
    padding: 20px;
    width: 30vw;
    background: white;
    border-radius: 30px;
    color: black;
    /* align-self: center;
    position: relative; 
    top: 20vh; */
}
.wrapper h1{
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(23, 1, 1, 0.2);
    border-radius: 90px;
    font-size: 16px;
    color: black;
    padding:20px 45px 20px 20px ;

}

.input-box input::placeholder{
    color: rgb(13, 0, 0);
}

.input-box i{
    position: absolute;
    right: 20px;
    top:50%;
    transform: translateY(-50%);
    font-size: 20px;

}

.wrapper .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    margin: -10px 11px 15px;
}
.remember-forgot label input{
    accent-color: rgb(18, 1, 1);
    margin-right: 3px;
}
.remember-forgot a{
    color: rgb(23, 1, 1);
    text-decoration: none;
}
.remember-forgot a:hover{
    text-decoration: underline;
}
.wrapper .btn{
    width: 100%;
    height: 45px;
    background: #0866FF;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0px 0px 10px rgba(0,0,0,.3);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 700;

}
.wrapper .btn:hover{
    background:#1877F2;
}
.wrapper .register-link{
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px;
}
.register-link p a{
    color: rgb(16, 0, 0);
    text-decoration: none;
    font-weight: 600;

}
.register-link p a:hover{
    text-decoration: underline;
}
.wrap{
    width: 420px;
    background:transparent;
    color: black;
}

.wrap h1{
    font-size: 36px;
    text-align: center;
}
.wrap .in-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.in-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(23, 1, 1, 0.2);
    border-radius: 90px;
    font-size: 16px;
    color: black;
    padding:20px 45px 20px 20px ;

}
.in-box input::placeholder{
    color: rgb(13, 0, 0);
}
.in-box i{
    position: absolute;
    right: 20px;
    top:50%;
    transform: translateY(-50%);
    font-size: 20px;

}
.wrap .btn{
    width: 100%;
    height: 45px;
    background:#89959B;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0px 0px 10px rgba(0,0,0,.3);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;

}
.wrap .btn:hover{
    background:#EFF1F3;
}

